<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
  <servlet>
    <servlet-name>ListCreation</servlet-name>
    <servlet-class>controller.ListCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCreation</servlet-name>
    <url-pattern>/ListCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>controller.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>controller.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
</web-app>